:root {
    --header:#3DC7FC;
    --body:#3A8EF2;
    --main-text:#3DFCCA;
    --alt-one:#42E3E6;
    --alt-two:#3AF28D;
    --blue-gray:#3E5673;
}

body {
    font-family: 'Play', sans-serif;
}

.header-background {
    background-color: var(--header);
}

.body-background {
    background-color: var(--body);
}

.cities {
    background-color: var(--alt-two);
}

#search-border {
    border-bottom: 3px dashed var(--alt-one);
}
/* EXPERIMENT */
.btn-one {
    color: var(--blue-gray);
    transition: all 0.3s;
    position: relative;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  
  .blue-gray-text {
    color: var(--blue-gray);
  }